<h1>Lists</h1>
<ul>
  <% if @lists.blank? %>
    Adicione uma lista!
  <% else %>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %> - <%= list.author %></li>
    <% end %>
  <% end %>
</ul>
<%= link_to "New list", new_list_path %>
