<div class="footer">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="footer-links d-flex align-items-center">
      <a href="https://github.com/navarrovitor" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/navarrovitor/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div>
      <span class="footer-text">Made with <i class="fas fa-heart"></i> by Vitor Navarro</span>
    </div>
  </div>
</div>
