<nav class="navbar">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <span class="navbar-text">To-Do List <i class="fa-solid fa-check"></i></span>
    <% end %>
  </div>
</nav>
