.btn-pencil-container {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 1;
}

.btn-pencil {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $thistle;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-pencil:hover {
  background-color: $periwinkle;
}

.btn-search {
  background-color: $thistle;
}
