.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $thistle;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
